<div ui-content-for="title">
  <span>3. Explore your data in a place</span>
</div>

<div class="scrollable" ui-shared-state="searchBar">
  <input
    ng-if="Ui.active('searchBar')"
    type="search"
    class="form-control scrollable-header"
    placeholder="Search.." />

  <div class="scrollable-content">
    <div class="list-group">
      <a href="" class="list-group-item" ng-click="toggleExploreHome()">
        Home<i class="fa fa-chevron-right pull-right"></i>
      </a>
      <a href="" class="list-group-item">
        Work<i class="fa fa-chevron-right pull-right"></i>
      </a>
      <a href="" class="list-group-item">
        Family<i class="fa fa-chevron-right pull-right"></i>
      </a>
      <a href="" class="list-group-item">
        Health<i class="fa fa-chevron-right pull-right"></i>
      </a>
      <a href="" class="list-group-item">
        Hobbies<i class="fa fa-chevron-right pull-right"></i>
      </a>
      <a href="" class="list-group-item">
        Relationship<i class="fa fa-chevron-right pull-right"></i>
      </a>
      <a href="" class="list-group-item">
        NEW...<i class="fa fa-chevron-right pull-right"></i>
      </a>
    </div>
  </div>

</div>
